language: python

python:
  - 3.6

env:
  - PIPENV_SHELL_COMPAT=true PIPENV_COLORBLIND=true PIPENV_NOSPIN=true

install:
  - pip install .
  - pip install pipenv
  - pipenv install --system --deploy --dev

script:
  - pytest --c
  - mypy --strict-optional hangman

after_success:
  - coveralls

notifications:
  email:
    on_success: never
    on_failure: change
